<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
			<property name="url">
				<value>jdbc:mysql://58.222.16.229:3306/superand?useUnicode=true&amp;characterEncoding=utf-8</value>
		</property>
		<property name="username">
			<value>superand</value>
		</property>
		<property name="password">
			<value>1q2w3e4r</value>
		</property>
		
		<property name="logAbandoned" value="true"/>
		<property name="removeAbandoned" value="true"/>   
       	<property name="removeAbandonedTimeout" value="10"/>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="mappingResources">
			<list>
				<value>com/andrew/po/Advertiser.hbm.xml</value>
				<value>com/andrew/po/Order.hbm.xml</value>
				<value>com/andrew/po/Product.hbm.xml</value>
				<value>com/andrew/po/User.hbm.xml</value>
				<value>com/andrew/po/Comment.hbm.xml</value>
				<value>com/andrew/po/Statistics.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<bean id="userDAO" class="com.andrew.data.dao.daoImpl.UserDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="advertiserDAO"
		class="com.andrew.data.dao.daoImpl.AdvertiserDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="commentDAO"
		class="com.andrew.data.dao.daoImpl.CommentDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="statisticsDAO"
		class="com.andrew.data.dao.daoImpl.StatisticsDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="orderDAO"
		class="com.andrew.data.dao.daoImpl.OrderDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
		<bean id="productDAO" class="com.andrew.data.dao.daoImpl.ProductDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<value>*DAO,*Service,*Manager</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
</beans>