*{padding:0;margin:0;}
body{background-color: #efefef; font-family:Arial,Helvetica,sans-serif;color:#464646;}
.container{width:954px;margin:0 auto; overflow: hidden;}

#header{height:120px;}
#footer{margin:0 auto; font-size: 12px;text-align:center; padding:10px;}

#nav{padding: 0 12px;text-align:center;overflow:hidden;background:url('img/navbg.png');}
#nav ul {list-style-type:none;}
#nav li{height:50px;float:left;padding:14px 0 0;}
#nav li:hover{height: 35px; ; background:url('img/navhov.gif');}
#nav li a{text-decoration:none;color:#fff; padding:20px;}
#logo{float:left;}
#nav #cartlink {background: url("img/cart.png") no-repeat scroll 17px 20px transparent; padding-left:45px;}

#user {background: url("img/userinfo.png") no-repeat; float: right; width: 270px; height: 116px; color: #464646;}
#user a{text-decoration: none; color: #464646; font-size: 15px;}
#user input{width: 110px; margin-right: 11px;}
#user #forgotpw{float: right; padding-right: 12px; font-size: 10px;}
#loginfields{float: left; margin-left: 12px; margin-top: 22px;}
#loginbuttons{float: right; margin-right: 12px; margin-top: 1px;}
#loginbuttons td{float: left; padding-left: 22px;padding-top:15px;}

.boxhead{ background: url('img/boxheader.gif'); height: 42px;}
.boxhead h1 {padding: 10px;font-size: 18px; font-weight:bold;}
.boxhleft{float: left; background: url('img/bhleft.gif') no-repeat; min-width:8px; height:42px;}
.boxhright{float: right; background: url('img/bhright.gif') no-repeat; min-width:8px; height:42px;}
.boxcontent{background: #FFF; padding: 10px;min-height:90px; border-left: 3px solid #c8c8c8; border-right: 3px solid #c8c8c8;}
.boxfoot{ background: #FFF;height: 3px;border-bottom: 3px solid #c8c8c8;}
.boxfleft{float: left; background: url('img/bfleft.gif') no-repeat; width:7px; height:42px;}
.boxfright{float: right; background: url('img/bfright.gif') no-repeat; width:7px; height:42px;}

.leftcolumn{float:left;}
.rightcolumn{float:right;}

#popularitems{width:330px;float:left; padding-top: 10px; padding-right: 15px;}
#newitems{width:330px;float:left; padding-top: 10px; padding-right: 15px;}
#goals{width:264px;float:left; padding-top: 10px;}
#about{width:615px;float:left; padding-top: 10px; padding-right: 15px;}
#facebook{width:324px;float:left; padding-top: 10px;}

#goals2{width:264px;float:left; padding-top: 10px; padding-right: 15px;}
#search{width:675px;float:left; padding-top: 10px;}
#categories{width:264px;float:left; padding-top: 10px; padding-right: 15px;}
#results{width:675px;float:left; padding-top: 10px;}
#dbUploader{width:675px;float:left; padding-top: 10px;}

.sidenav{list-style-type:none;padding-left: 12px;}
.sidenav a {color: #444; text-decoration:none;}
.sidenav a:hover{color: #777; text-decoration:none;}

.product {border-color: #EFEFEF;border-width: 1px;border-style: solid;margin: 2px 0;padding: 10px;}


/*GOAL BAR*/
	#goal_outer {
	background-color: #BDBDBD;
	width: 100%;
	height: 90px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.30);
}

#goal_outer #bar_container {
	background-color: white;
	height: 55px;
	width: 85%;
	margin: 0px auto;
	position: relative;
	top: 20%;
}
#goal_outer #bar_container #bar{
	width:50%;
	height:100%;
	max-width:100%;
	
	
-moz-box-shadow: 0px 0px 2px #000000;
-webkit-box-shadow: 0px 0px 2px #000000;
box-shadow: 0px 0px 2px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#52ff5a', endColorstr = '#232423');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#52ff5a', endColorstr = '#232423')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: -moz-linear-gradient(top, #52ff5a, #232423);
background-image: -ms-linear-gradient(top, #52ff5a, #232423);
background-image: -o-linear-gradient(top, #52ff5a, #232423);
background-image: -webkit-gradient(linear, center top, center bottom, from(#52ff5a), to(#232423));
background-image: -webkit-linear-gradient(top, #52ff5a, #232423);
background-image: linear-gradient(top, #52ff5a, #232423);
/*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/
opacity: 0.9;
-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity = 90);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 90);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/


}
.rounded20{
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.rounded25{
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
}
