<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>uploadDbFile</servlet-name>
    <jsp-file>/upload-db-file.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadDbFile</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>db-uploader</servlet-name>
    <servlet-class>cs345.servlets.DbFileUploader</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>db-uploader</servlet-name>
  	<url-pattern>/dbUploader</url-pattern>
  </servlet-mapping>
  
  
<context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
    <param-value>
         /Users/orenr61/Desktop/new/
     </param-value> 
</context-param>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>